<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for(:title) || "Msearch" %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= yield :head %>

		<link rel="manifest" href="/manifest.json">
		<link rel="icon" href="/icon.png" type="image/png">
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/icon.png">
		<%# <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
	</head>

	<body class="overflow-scroll bg-black text-neutral-50">
		<nav class="mx-1 flex items-center overflow-visible justify-between space-x-4 max-h-[40px] mb-2">
			<%= render partial: "layouts/search"%>
		</nav>
		<%= yield %>
	</body>
</html>
